<app-buy-again [data]="data"></app-buy-again>
<div *ngIf="data" class="row">
  <div
    class="col-md-4 ml-5"
    style="background-color: lightpink; width: 350px; border-radius: 5px;"
  >
    <form [formGroup]="myForm">
      <div class="row">
        <div class="col-md-4">
          <label>name</label>
          <input
            type="text"
            style="width: 120px;"
            formControlName="name"
            class="form-control"
            [class.is-invalid]="
              !myForm.get('name').valid && myForm.get('name').touched
            "
          />
          <small
            class="text-danger"
            *ngIf="myForm.get('name').invalid && myForm.get('name').touched"
          >
            this field is reqired
          </small>
        </div>
        <div class="col-md-4 ml-4">
          <label>lastName</label>
          <input
            type="text"
            style="width: 120px;"
            formControlName="lastName"
            class="form-control"
            [class.is-invalid]="
              !myForm.get('lastName').valid && myForm.get('lastName').touched
            "
          />
          <small
            class="text-danger"
            *ngIf="
              myForm.get('lastName').invalid && myForm.get('lastName').touched
            "
          >
            this field is reqired
          </small>
        </div>
      </div>
      <br />

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="example@example.com"
          [class.is-invalid]="
            !myForm.get('email').valid && myForm.get('email').touched
          "
        />
        <small
          class="text-danger"
          *ngIf="myForm.get('email').invalid && myForm.get('email').touched"
        >
          this field is reqired
        </small>
      </div>
      <div class="form-group">
        <label>phone-number</label>
        <input
          type="tel"
          style="width: 150px;"
          formControlName="phoneNumber"
          class="form-control"
          placeholder="320-156-1369"
          [class.is-invalid]="
            !myForm.get('phoneNumber').valid &&
            myForm.get('phoneNumber').touched
          "
        />
        <small
          class="text-danger"
          *ngIf="
            myForm.get('phoneNumber').errors?.required &&
            myForm.get('phoneNumber').touched
          "
        >
          this field is reqired
        </small>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>city</label>
          <input
            type="text"
            style="width: 80px;"
            formControlName="city"
            class="form-control"
            [class.is-invalid]="
              !myForm.get('city').valid && myForm.get('city').touched
            "
          />
          <small
            class="text-danger"
            *ngIf="myForm.get('city').invalid && myForm.get('city').touched"
          >
            this field is reqired
          </small>
        </div>
        <div class="col-md-4">
          <label>province</label>
          <input
            type="text"
            style="width: 80px;"
            formControlName="province"
            class="form-control"
            [class.is-invalid]="
              !myForm.get('province').valid && myForm.get('province').touched
            "
          />
          <small
            class="text-danger"
            *ngIf="
              myForm.get('province').invalid && myForm.get('province').touched
            "
          >
            this field is reqired
          </small>
        </div>
        <div class="col-md-4">
          <label>street#</label>
          <input
            type="number"
            style="width: 50px;"
            formControlName="streetNumber"
            class="form-control"
            [class.is-invalid]="
              !myForm.get('streetNumber').valid &&
              myForm.get('streetNumber').touched
            "
          />
          <small
            class="text-danger"
            *ngIf="
              myForm.get('streetNumber').errors?.required &&
              myForm.get('streetNumber').touched
            "
          >
            this field is reqired
          </small>
        </div>
      </div>
      <br />
    </form>
    <div class="container mt-4">
      <button
        [disabled]="!myForm.valid || this.final.length == 0"
        *ngIf="isLoading == false"
        type="button"
        class="btn btn-primary btn-lg btn-block"
        (click)="submit()"
      >
        confirm
      </button>
      <!-- <img *ngIf="isLoading" src=
            "https://i.pinimg.com/originals/26/af/26/26af26707d7d0da6d5bc930788cfc868.gif"
            width="40" height="40" 
            > -->
    </div>
    <hr />
  </div>

  <div
    *ngIf="final.length == 0"
    class="col-md-4 ml-5"
    style="
      background-color: lightblue;
      width: 450px;
      height: 100px;
      border-radius: 5px;
    "
  >
    <h4 class="text-center" style="color: red;">your card is empty</h4>
    <div class="container" style="height: 50px;">
      <button
        type="button"
        class="btn btn-success btn-block"
        (click)="toStore()"
      >
        add items
      </button>
    </div>
  </div>

  <div
    *ngIf="final.length > 0"
    class="col-md-4 ml-5"
    style="background-color: lightblue; width: 450px; border-radius: 5px;"
  >
    <h2 class="text-center">your items</h2>

    <div *ngFor="let buy of final">
      <div
        class="container"
        style="width: 400px; height: 200px; background-color: white;"
      >
        <button
          type="button"
          class="btn btn-info mt-1"
          (click)="edit()"
          style="float: right;"
        >
          Edit
        </button>

        <p class="font-weight-bold">{{ buy.title }}</p>
        <p class="font-weight-bold">type:{{ buy.type }}</p>
        <img
          src="{{ buy.image }}"
          width="100"
          height="100"
          style="float: right;"
        />
        <p class="font-weight-bold">price:{{ buy.price | currency }}</p>
        <p class="font-weight-bold">quantity: {{ buy.quantity }}</p>
      </div>
      <p class="font-weight-bold ml-5">
        total: {{ buy.price * buy.quantity | currency }}
      </p>
    </div>
    <hr />
    <div
      class="container-fluid"
      class="font-weight-bold ml-4"
      style="height: 30px; border-radius: 5px; background-color: white;"
    >
      <p class="text-center" style="font-size: larger;">
        Total:{{ total() | currency }}
      </p>
    </div>

    <hr />
  </div>
</div>
